#header {
    color: #e1723f;
    background-color: #262626ff;
    width: 920px;
    height: 40px;
    padding: 30px 0px 30px 35px;
}

#footer {
    color: white;
    background-color: #262626ff;
    width: 915px;
    height: 10px;
    text-align: center;
    padding: 20px;
}

#ysFooter {
    color: #e1723f;
}